@import './vars.scss';

html {
  //  font-size: 16px;

  @media (max-width: 800px) {
    font-size: 13px;
  }

  @media (max-width: 600px) {
    font-size: 11px;
  }

}

html,
body {
  margin: 0;
  padding: 1rem;
  font-family: Thin,
}

body {
  background-color: #fafafa
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: $graDark;
  font-family: Bold;
  font-size: 3rem;
  letter-spacing: -1px;
}

// only on result page

p {
  line-height: 1.9;
  color: $graLight;
  max-width: 30rem;
  font-size: 16px !important;

}

button {
  background-color: $grn;
  padding: 1.3rem;
  font-size: 22px !important;
  border-radius: 0.6rem;
  color: white;
  border-style: none;
  width: 100%;
  max-width: 20rem;
  font-family: Thin;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.349);
  transition: all 0.3s ease;
  cursor: pointer;

  @media (max-width:600px) {
    // background-color: rgb(153, 53, 140);
    min-width: 100%;
    width: 100% !important;
    font-size: 2rem;
  }

  &:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.171);
    transform: translateY(-5px);
  }

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  //  background-color: blueviolet;
}

.btnBox {
  // background-color: teal;
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 4rem 0;

  @media (max-width:600px) {
    //background-color: rgb(153, 53, 140);
    min-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
  }

  .btns {
    display: flex;
    flex: 1;
    padding: 0;
    margin: 0;
    min-width: 300px;
    max-width: 300px;
    width: 300px;
    justify-content: flex-start;
    // background-color: chocolate;

    @media (max-width:600px) {
      justify-content: center;
      margin: 3rem 0;
      //   background-color: rgb(30, 42, 210);

    }

    h2 {
      font-size: 2rem;
    }
  }

  .plus,
  .minus {
    min-width: 70px;
    min-height: 70px;
    width: 70px;
    height: 70px;
    background-color: $graDark;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
    user-select: none;

    &:hover {
      background-color: black;
      transform: scale(1.1);
    }
  }

  .points {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    //  background-color: pink;
    width: 200px;

    h1 {
      font-size: 40px;
      margin: 0;
    }
  }

  .points>span {
    text-align: center;
    font-size: 16px;
  }

  .selected {
    background-color: seagreen;
  }

  img {
    //  background-color: blue;
    flex: 1;
    height: 15rem;
    object-fit: contain;
    padding: 2rem;
  }
}

.topBar {
  display: flex;
  justify-content: space-between;

  .greenLogo {
    //  background-color: pink;
    width: 10rem;
  }

  .score {
    width: 20rem;
    display: flex;
    height: 3rem;
    margin-bottom: 5rem;
    //  background-color: red;

    @media (max-width: 800px) {
      // background-color: rgb(0, 255, 170);
      justify-content: flex-end;
    }

    span {
      color: $graDark;
      font-size: 1.3rem;
      font-family: Bold;
      display: flex;
      align-items: center;
      margin-left: 1rem;
      // background-color: cadetblue;
    }

    img {
      //  background-color: chartreuse;
      object-fit: contain;

    }
  }
}