@import './vars.scss';

html,
body {
  padding: 1rem;
  margin: 0;
  font-family: Thin,
}
body{
  background-color: #fafafa
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1{
  color: $graDark;
  font-family: Bold;
  font-size: 3rem;
  letter-spacing: -1px;
}
h6{
  font-size: 1.3rem;
  font-family: Bold;
}
p{
  line-height: 1.9;
  color: $graLight;
  max-width: 30rem;
  font-size: 1.5rem;
}

button{
  background-color:$grn;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  color: white;
border-style: none;
width: 20rem;
margin: 3rem 0;
font-family: Thin
}

.score{
width: 15rem;

display: flex;
h6{
margin-left: 1rem;
}
img{
  width: 8%;
  object-fit: contain;

}
}

.box{
  display: flex;
  flex-wrap: wrap;
  max-width: 30rem;
}
.circle {
  width: 100px;
  height: 100px;
  background-color: darkgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
justify-content: center;
margin: 1rem;
}

.dsb{
  opacity: 0.1;
  cursor: none;
  pointer-events: none;
}
.btns{
  display: flex;
  max-width: 20rem;
  justify-content: space-between;
}
.plus,.minus{
width: 70px;
height: 70px;
background-color: rgb(0, 0, 0);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: white;
}

.points{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.points > span {
  text-align: center;
}

.selected {
  background-color: seagreen;
}