@import './vars.scss';

.transport {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 3rem 0;
}

//////  *** SECOND PART START HERE

// .btnBox {

//   img {
//     width: 20rem;
//     height: 8rem;
//     object-fit: contain;
//     margin: 3rem 0;
//   }
// }

.circle {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5.5rem;
  margin-bottom: 1.5rem;
  flex-direction: column;
  padding: 1.6rem;
  transform: scale(1);
  transition: all 0.5s ease;
  border-radius: 50%;
  cursor: pointer;

  //background-color: red;

  img {
    display: block;
    object-fit: scale-down;
    height: 120px;
    padding: 1.2rem;

  }

  p {
    margin: 0;
    font-size: 1rem;
  }

  &:hover {
    transform: scale(1.1);
    background-color: rgb(238, 238, 238);

  }
}

.dsb {
  opacity: 0.1;
  cursor: none;
  pointer-events: none;
}