@import './vars.scss';

.transport {
  display: flex;
  flex-wrap: wrap;
  //justify-content: center;
  max-width: 60rem;
  margin: 2rem 0;

  @media (max-width:600px) {
    justify-content: center;

  }
}

//////  *** SECOND PART START HERE

.circle {
  width: 15rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
  flex-direction: column;
  padding: 1rem;
  transform: scale(1);
  transition: all 0.5s ease;
  border-radius: 50%;
  cursor: pointer;
  //background-color: red;

  img {
    display: block;
    object-fit: contain;
    padding: 1.2rem;
    width: 100%;
    object-fit: contain;
    height: 70%;

    @media (max-width:600px) {
      // background-color: rgb(153, 53, 140);
    }

    //background-color: chocolate;

  }

  p {
    margin: 0;
    font-size: 1rem;
  }

  &:hover {
    transform: scale(1.1);
    background-color: rgb(238, 238, 238);

  }
}

.dsb {
  opacity: 0.1;
  cursor: none;
  pointer-events: none;
}