@font-face {
  src: url('../assets/GothamLight.otf');
  font-family: "Thin";

}

@font-face {
  src: url('../assets/GothamMedium.otf');
  font-family: "Bold";

}

$graDark: #4c494b;
$graLight: #948F93;
$grn: #30AF5F;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}